@import-normalize;

:root {
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 992px;

	/* spacing sizes */
	--spacing-xsmall: 4px;
	--spacing-small: 8px;
	--spacing-medium: 12px;
	--spacing-large: 16px;
	--spacing-xlarge: 24px;
	--spacing-xxlarge: 32px;

	/* width */
	--width-xsmall: 220px;
	--width-small: 400px;
	--width-medium: 660px;
	--width-large: 940px;
	--width-xlarge: 1280px;

	/* font family */
	--font-family: circular, -apple-system, system-ui, 'Segoe UI', roboto, noto,
		oxygen-sans, ubuntu, cantrell, 'Helvetica Neue', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	/* font sizes */
	--font-size-caption: 12px;
	--font-size-copy: 13px;
	--font-size-body: 14px;
	--font-size-subtitle: 16px;
	--font-size-header: 20px;
	--font-size-header-large: 24px;
	--font-size-header-xlarge: 32px;

	/* font weight */
	--font-weight-regular: 400;
	--font-weight-medium: 600;
	--font-weight-bold: 700;
	--color-switch-checked: #6e7bf2;
	--color-text-primary: rgb(255 255 255 / 87%);

	/* standard divider colors */
	--divider-primary: #c4c7c8;
	--divider-secondary: #dde2e3;
	--divider-tertiary: #edf2f3;

	/* border-radius */
	--border-radius-small: 5px;
	--border-radius-large: 10px;

	/* background color */
	--bg-default: rgb(255 255 255);
	--bg-brand: rgb(36 111 224);
	--bg-aside: rgb(250 250 250);
	--bg-highlight: rgb(242 242 242);
	--bg-selected: rgb(230 230 230);

	/* colors */
	--framework-fill-background: rgb(36 36 40);
	--framework-fill-crest: rgb(230 230 230);
	--framework-fill-selected: rgb(236 236 236);
	--framework-fill-summit: rgb(214 214 214);
	--content-primary: rgb(0 0 0 / 88%);
	--content-secondary: rgb(0 0 0 / 56%);
	--content-tertiary: rgb(0 0 0 / 40%);
	--content-light-on-dark: rgb(255 255 255);

	/* component-specific */
	--switch-checked: rgb(5 133 39);

	/* alerts */
	--alert-tone-info-icon: #1d438c;
	--alert-tone-info-border: rgb(36 111 224);
	--alert-tone-info-background: rgb(36 111 224 / 10%);
	--alert-tone-positive-icon: #035017;
	--alert-tone-positive-border: rgb(5 133 39);
	--alert-tone-positive-background: rgb(5 133 39 / 10%);
	--alert-tone-caution-icon: #5e3704;
	--alert-tone-caution-border: rgb(235 141 19);
	--alert-tone-caution-background: rgb(235 141 19 / 20%);
	--alert-tone-critical-icon: #b03d32;
	--alert-tone-critical-border: rgb(209 69 59);
	--alert-tone-critical-background: rgb(209 69 59 / 10%);
}

body {
	margin: 0;
	font-family: var(--font-family), sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
	color: var(--color-text-primary);
	background-color: var(--framework-fill-background);
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
div,
header,
nav,
main,
footer {
	max-width: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

button {
	font-family: inherit;
	font-size: 13px;
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}
