body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --measure: 60ch;
}

*{
  max-width: var(--measure);
  }
  html,
  body,
  div,
  header,
  nav,
  main,
  footer {
    max-width: none;
  }

  .max-width\:measure {
    max-width: var(--measure);
  }
  .max-width\:measure\/2 {
    max-width: calc(var(--measure) / 2);
  }

  :root{
    --font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Noto, Oxygen-Sans, Ubuntu,
    Cantrell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  }