.top-bar {
	width: 100%;
	height: 56px;
	background-color: #222;
}

.title {
	font-size: 20px;
	font-weight: bold;
}

.view-header {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 36px;
	padding-bottom: 24px;
	display: flex;
	align-items: center;
}

.view-header > * {
	margin-left: 0;
	margin-right: 0;
}

.view-header > * + * {
	margin-left: 0.5rem;
}

.view-content {
	box-sizing: content-box;
	padding-left: 55px;
	padding-right: 55px;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
